# Jupyter Notebook Test

This notebook tests launching a mybinder.org notebook to read data from a FHIR server.

Load dependencies:

In [1]:
import pandas as pd
import fhir_pyrate

Test FHIR query:

In [12]:
search = fhir_pyrate.Pirate(
    auth=None,  # the demo fhir server does not require authentication
    base_url="http://hapi.fhir.org/baseR4/",
    print_request_url=True,  # If set to true, you will see all requests
)

In [13]:
patient_bundle = search.steal_bundles(resource_type="Patient", num_pages=1)

In [14]:
df_patient = search.bundles_to_dataframe(
    bundles=patient_bundle,
    fhir_paths=[
        ("given_name", "Patient.name.where(use = 'official').given"),
        ("family_name", "Patient.name.where(use = 'official').family"),
        ("birthDate", "Patient.birthDate"),
        ("fhirID", "Patient.id")
    ]
)

Query (Patient): 36it [03:46,  1.86it/s]

http://hapi.fhir.org/baseR4/Patient?

Query (Patient): 100%|██████████| 1/1 [00:00<00:00, 459.60it/s]

    fhirID   birthDate  given_name family_name
0   593186         NaN         NaN         NaN
1   593189         NaN         NaN         NaN
2   593190         NaN         NaN         NaN
3   593191         NaN         NaN         NaN
4   593192         NaN         NaN         NaN
5   593193         NaN         NaN         NaN
6   593194         NaN         NaN         NaN
7   593206         NaN         NaN         NaN
8   593210  1967-10-31         NaN         NaN
9   593213         NaN        Khan    Moazzams
10  593214         NaN        Khan     Moazzam
11  593216  1981-12-15         NaN         NaN
12  593218  1967-10-31         NaN         NaN
13  593222  1967-10-31         NaN         NaN
14  593224         NaN  Tiffany303    Borer986
15  593225         NaN  Tiffany303    Borer986
16  593223  1998-01-27         NaN         NaN
17  593253  1981-12-15         NaN         NaN
18  593255  1960-01-01         NaN         NaN
19  593256  1960-01-01         NaN         NaN

In [15]:
df_patient

    fhirID   birthDate  given_name family_name
0   593186         NaN         NaN         NaN
1   593189         NaN         NaN         NaN
2   593190         NaN         NaN         NaN
3   593191         NaN         NaN         NaN
4   593192         NaN         NaN         NaN
5   593193         NaN         NaN         NaN
6   593194         NaN         NaN         NaN
7   593206         NaN         NaN         NaN
8   593210  1967-10-31         NaN         NaN
9   593213         NaN        Khan    Moazzams
10  593214         NaN        Khan     Moazzam
11  593216  1981-12-15         NaN         NaN
12  593218  1967-10-31         NaN         NaN
13  593222  1967-10-31         NaN         NaN
14  593224         NaN  Tiffany303    Borer986
15  593225         NaN  Tiffany303    Borer986
16  593223  1998-01-27         NaN         NaN
17  593253  1981-12-15         NaN         NaN
18  593255  1960-01-01         NaN         NaN
19  593256  1960-01-01         NaN         NaN